<nb-card>
  <nb-card>
    <nb-card-body>
      <nb-calendar [(date)]="date"> </nb-calendar>
      <h1 class="h5">You have selected date: {{ date | date }}</h1>
    </nb-card-body>
    <div style="padding: 1%">
      <button type="button" nbButton outline status="primary" size="medium">
        Click to Yearview
      </button>
    </div>
  </nb-card>

  <nb-card>
    <nb-card-body>
      <nb-calendar-month-picker
        [(month)]="month"
        [date]="month"
        [cellComponent]="monthCellComponent"
      >
      </nb-calendar-month-picker>
    </nb-card-body>
  </nb-card>
</nb-card>
